@use "./variables";

@mixin fontsAleo($weight, $size, $color, $height) {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    color: $color;
    line-height: $height;
}

@mixin fontsJosefin($weight, $size, $color, $height) {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    color: $color;
    line-height: $height;
}