$color-accent: #5373FD;
$color-accent-darker: #486BFE;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-grey: #333333;
$color-text-grey: #999999;
$color-red: #FF6363;
$color-blue: #00A2FF;

$font-Aleo: 'Aleo', serif;
$font-Josefin: 'Josefin Sans', sans-serif;