$color-white: #FFFFFF;
$color-dark-grey: #2C4058;
$color-black: #000000;
$color-blue: #55B7FF;

$font-Monst: 'Montserrat', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;
$font-SourSansPro: 'Source Sans Pro', sans-serif;
