@import "./reset";
@import "./responsive";
$color-grey: #323232;
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey5: #565656;
$color-grey7: #7B7B7B;
$color-greyC: #CCCCCC;
$color-grey4: #F4F4F4;

$font-RedHat: 'Red Hat Display', sans-serif;
$font-Lato: 'Lato', sans-serif;



@mixin blockFonts($family, $weight, $size, $color) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}


.header-burger {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;

    .burger-line {
        content: url(/assets/icons/Line1.svg);
    }
}

.header-div {
    display: flex;
    justify-content: space-between;
    padding: 23px 10px;
    @media screen and (min-width: 768px) {
        padding-left: 34px;
        padding-right: 34px;
    }

}

.header-div-items {
    display: flex;
}

.head-section {
    background-image: url(/assets/icons/bg-image.svg);
    width: 100%;
    align-items: center;
    
    h1 {
        @include blockFonts($font-RedHat, 600, 30px, $color-black);
        line-height: 50px;
        letter-spacing: 0.05em;
        padding-top: 70px;
        padding-bottom: 230px;
        padding-left: 10px;
        
        @media screen and (min-width: 768px) {
            padding-left: 34px;
            text-align: left;
        }
    }
}

.wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.container1 {
    margin-top: 70px;
    h2 {
        @include blockFonts($font-RedHat, 400, 48px, $color-black);
        letter-spacing: 0.05em;
        text-align: center;
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

}




.container2 {
    margin-top: 50px;
}

.container-p-grey {
    @include blockFonts($font-Lato, 400, 16px, $color-grey7);
    line-height: 166%;
     letter-spacing: 0.1em;
}
.container-h3 {
    @include blockFonts($font-RedHat, 500, 22px, $color-black);
line-height: 166%;
letter-spacing: 0.1em;
margin-top: 30px;
margin-bottom: 10px;
}
.container-p {
    @include blockFonts($font-Lato, 400, 16px, $color-grey5);
line-height: 166%;
letter-spacing: 0.05em;
margin-top: 40px;
margin-bottom: 37px;
}




    @media screen and (min-width: 768px){
        .wrapper {
            margin-left: 34px;
            margin-right: 34px;
        };
        .container-reverse {
            display: flex;
            flex-direction: row-reverse;
        }
        .container-reverse-item{
            margin-left: 20px;
        }
        .imgbig {
            width: 340px;
            height: 280px;
        }
        .container-reverse1 {
            display: flex;
            
        }
    } 
    
