@import "./reset";
@import "./responsive";
$color-grey: #323232;
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey5: #565656;
$color-grey7: #7B7B7B;
$color-greyC: #CCCCCC;
$color-grey4: #F4F4F4;

$font-RedHat: 'Red Hat Display', sans-serif;
$font-Lato: 'Lato', sans-serif;



@mixin blockFonts($family, $weight, $size, $color) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}


.header-burger {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;

    .burger-line {
        content: url(/assets/icons/Line1.svg);
    }
}

.header-div {
    display: flex;
    justify-content: space-between;
    padding: 23px 10px;
    @media screen and (min-width: 768px) {
        padding-left: 34px;
        padding-right: 34px;
    }

}

.header-div-items {
    display: flex;
}

.head-section {
    background-image: url(/assets/icons/bg-image.svg);
    width: 100%;
    align-items: center;
    
    h1 {
        @include blockFonts($font-RedHat, 600, 30px, $color-black);
        line-height: 50px;
        letter-spacing: 0.05em;
        padding-top: 70px;
        padding-bottom: 230px;
        padding-left: 10px;
        
        @media screen and (min-width: 768px) {
            padding-left: 34px;
            text-align: left;
        }
    }
}

.wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.container1 {
    margin-top: 70px;
    h2 {
        @include blockFonts($font-RedHat, 400, 48px, $color-black);
        letter-spacing: 0.05em;
        text-align: center;
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

}




.container2 {
    margin-top: 50px;
}

.container-p-grey {
    @include blockFonts($font-Lato, 400, 16px, $color-grey7);
    line-height: 166%;
     letter-spacing: 0.1em;
}
.container-h3 {
    @include blockFonts($font-RedHat, 500, 22px, $color-black);
line-height: 166%;
letter-spacing: 0.1em;
margin-top: 30px;
margin-bottom: 10px;
}
.container-p {
    @include blockFonts($font-Lato, 400, 16px, $color-grey5);
line-height: 166%;
letter-spacing: 0.05em;
margin-top: 40px;
margin-bottom: 37px;
}




    @media screen and (min-width: 768px){
        .wrapper {
            margin-left: 34px;
            margin-right: 34px;
        };
        .container-reverse {
            display: flex;
            flex-direction: row-reverse;
        }
        .container-reverse-item{
            margin-left: 20px;
        }
        .imgbig {
            width: 340px;
            height: 280px;
        }
        .container-reverse1 {
            display: flex;
            
        }
    } 
    
    .h3-text {
        font-family: 'Red Hat Display';
font-weight: 600;
font-size: 28px;
letter-spacing: 0.05em;
margin-top: 70px;
margin-bottom: 10px;
    }
    .p-text {
        font-family: 'Lato';
font-weight: 400;
font-size: 16px;
line-height: 166%;
letter-spacing: 0.1em;
color: #7B7B7B;
margin-bottom: 30px;
    }
    .text-block {
        display: flex;
        justify-content: space-between;
       margin-top: 25px;
    }
    .container-h3-min {
        @include blockFonts($font-RedHat, 500, 22px, $color-black);
line-height: 166%;
letter-spacing: 0.1em;
margin-top: 25px;
margin-bottom: 20px;
    }
    .container-p-min {
        @include blockFonts($font-Lato, 400, 16px, $color-grey5);
    line-height: 166%;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
    }
    .h3-text-title {
        font-family: 'Red Hat Display';
font-weight: 600;
font-size: 22px;
line-height: 166%;
letter-spacing: 0.1em;
margin-top: 11px;
margin-bottom: 10px;
    }

    .button-div {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
      }
      .button-div .button {
        background-color: #565656;
        color: #FFFFFF;
        padding: 9px 45px;
        font-family: "Lato";
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.1em;
        border: none;
      }
      .button-div:hover .button:hover {
        background-color: #FFFFFF;
        color: #565656;
        border: 1px solid #565656;
      }

      .text-h2 {
        font-family: 'Red Hat Display';
font-weight: 400;
font-size: 24px;
line-height: 166%;
letter-spacing: 0.1em;
      }
      .text-p {
        font-family: 'Lato';
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.05em;
color: #565656;
margin-bottom: 70px;
      }
      .footer-h1 {
        font-family: 'Red Hat Display';
font-weight: 400;
font-size: 32px;
letter-spacing: 0.05em;
text-align: center;
margin-bottom: 5px;
padding-top: 50px;
      }
      .footer-p {
        font-family: 'Lato';
font-weight: 400;
font-size: 18px;
line-height: 166%;
text-align: center;
letter-spacing: 0.1em;
margin-top: 15px;
      }
      footer {
        background: #F4F4F4;
      }
      .footer-p2 {
        font-family: 'Lato';
font-weight: 400;
font-size: 16px;
line-height: 166%;
text-align: center;
letter-spacing: 0.1em;
padding-bottom: 50px;
      }

      .socmedia {
        display: flex;
        gap: 23px;
       margin-top: 40px;
       margin-bottom: 40px;
        justify-content: center;
      }
     .icon1 {
        padding: 13px;
        border: 1px solid #565656;
     }
    .icon2 {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 18px;
        padding-left: 18px;
        border: 1px solid #565656;
    }
    .icon3 {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 14px;
        padding-left: 14px;
        border: 1px solid #565656;
    }