@import "./styles/reset.css";

body {
    background-color: #3B3F45;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 793px;
    height: 507px;
    border: solid 5px #FFFFFF;
    margin: auto;
}

header,
footer {
    background-color: #4A4F56;
    color: #FF8984;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 4px;
}

p {
    font-size: 16px;
}

span {
    font-size: 11px;
    padding-left: 5px;
}

header {
    width: 793px;
    height: 82px;
}

footer {
    margin: 0 auto;
    width: 534px;
    height: 45px; 
    margin-top: 45px;
}

div {
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 12px;
    width: 534px;
    height: 45px;
    cursor: pointer;
}

div:nth-child(2n-1) {
    background-color: #88839E;
}

div:nth-child(2n) {
    background-color: #7A7593;
}

.label {
    padding-left: 16px;
    cursor: pointer;
}

input {
    width: 19px;
    height: 19px;
    background: #FFFFFF;
    cursor: pointer;
}

.div1 {
    margin-top: 20px;
}

input+label {
    display: inline-flex;
    align-items: center;
}

div:hover {
    background-color: #625E77;
    border-bottom: solid 2px #FFFFFF;
    border-top: solid 2px #FFFFFF;
}

input:checked+label {
    text-decoration: line-through;
    color: #9B96AC;
    cursor: pointer;
}

span::before {
    content: "("
}

span::after {
    content: ")"
}

div:active {
    background-color: #FF8984;
}

 * {
    transition: all .1s ease-in;
} 