@import "./styles/reset.css";
@import "./assets/fonts/Staatliches/index.css";
@import "./assets/fonts/Francois One/index.css";
@import "./assets/fonts/Farro, PT Sans/index.css";

html {
    box-sizing: border-box;
    margin-right: 120px;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    margin-left: 120px;
    z-index: 3;
}

main {
    margin-top: 100px;
    margin-left: 130px;
    position: relative;
}


.vector {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-left: 680px;
    z-index: -1;
}

.icons {
    position: sticky;
    z-index: -1;
    top: 90px;
}

.block {
    display: flex;
    flex-direction: row;
}

img {
    padding-top: 16px;
    padding-bottom: 16px;
}

.eng {
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.04em;
    padding-right: 50px;
    padding-top: 26px;
    padding-bottom: 29px;
}

.staatl {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 22px;
    padding-right: 601px;
    padding-top: 26px;
    padding-bottom: 26px;
}

h3,
li {
    font-family: 'Francois One';
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.04em;
}

li {
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 20px;
    width: 365px;
    margin-right: 38px;
    margin-bottom: 50px;
}

ul {
    margin-top: 50px;
}

.sidebar {
    position: sticky;
    top: 50px;
    height: 100vh;
}


.chapter {
    font-family: 'Farro';
    font-weight: 300;
    letter-spacing: 0.04em;
}

p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

.grup {
    padding-bottom: 50px;
    z-index: 2;
}

.head {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.text {
    background: #DADADA;
}

.paragraph {
    padding-bottom: 40px;
}

b {
    font-family: PT Sans Bold;
}

em {
    font-family: PT Sans Italic;
}

.line {
    font-family: PT Sans Bold;
    font-size: 50px;
    padding-bottom: 20px;

}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

h4 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
}

/* 2 pages */
.whos {
    margin-left: 130px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.using {
    margin-left: 20px;
    margin-top: 26px;
}

.flip-card-front {
    background: #E6E6E6;
    
    
}

.flip-card {

    width: 270px;
    height: 180px;
    perspective: 1000px;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
    cursor: pointer;
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
   align-items: center;
   justify-content: center;
}

.flip-card-back {
    background: #1A1A1A;
    transform: rotateX(180deg);
}
.socmed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    border-width: 1px 0px;
border-style: solid;
border-color: #BFBFBF;
padding-top: 30px;
padding-bottom: 30px;
justify-content: center;
margin-left: 120px;
margin-top: 40px;
}